body {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
#district-menu li.nav-item img{
  max-width:100%;
  width: 200px;
  height: auto;
}
#district-menu .navbar-nav{
  flex-direction: row;
  margin: 15px 0px;
}
#district-menu .hk_island>li:first-child{
  color:	#0071CE;
}
#district-menu .kowloon>li:first-child{
  color: #00AF41;
}
#district-menu .new_territories>li:first-child{
  color: #E2231A;
}
#district-menu .district-cat{
  width: 70px;
  padding: 15px 0px 0px 10px;
}
#mapid {
  height: 450px;
}
#infoBoard{
  flex-direction: column;
}
#infoBoard > div{
  flex:1;
  max-width:100%;
}
#infoBoard, #infoBoard .row{
  height: 100%;
}
#detailInfo{
  transition : border 500ms ease-out;
  padding: 15px;
}
#detailInfo.existing{
  border: 2px solid blue;
}
#detailInfo.notExisting{
  border: 2px solid red;
}
footer .footer_icon{
  width: 30px;
  height: auto;
  vertical-align: top;
  padding-top: 4px;
}
